*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(to bottom right, rgb(235, 235, 30), rgb(50, 211, 128));
    display: flex;
    justify-content: center;
    align-items:center;
    font-family:'Roboto',sans-serif;

}
.app{
    position: relative;
    width:100%;
    max-width: 320px;
    height:419px;
    background: #fff;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    
    
}
.app::after {
    content:'';
    display:block;
    padding-top: calc(100% /(3/4));
}
.calculator{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    height: 100%;
    overflow-y: hidden;
    flex-direction: column;
}
header{
    background: rgb(50, 211, 128);
    padding: 10px 15px;
    box-shadow: 0px 3px 10px rgba(0, 0 ,0, 0.2);

}
h1{
    color:#fff;
    text-transform: capitalize;
    font-size: 24px;
    text-align:center;

}
main{
    flex: 1 1 100%;
    overflow-y: scroll;
    padding:20px 15px;
   

}
.input-group{
    display:flex;
    margin-bottom: 20px;

}
.pre{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    padding:10px 15px;
    font-size:18px;
    border-bottom: 3px solid #33cc88;
    background: #EEE;
    border-radius: 8px 0px 0px 0px;

}
input{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display:block;
    width:100%;
    padding:10px 15px;
    border-bottom:3px solid #33cc88;
    color:#212;
    font-size: 18px;


}
input::placeholder{
    font-size: 14px;
    color:#666;
}
select{
    -webkit-appearance: none;
    border:none;
    outline:none;
    font-size: 16px;
    appearance: none;
    display: block;
    border-bottom: 3px solid #33cc88;
    color: #212121;
    width:100%;
    background:none;
    padding:15px 15px;
    border-radius: 0px;
}
.tip-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
p{
        color:#212121;
        font-size: 18px;
        margin-bottom: 15px;

}
.tip{
    padding:15px 20px;
    box-shadow: 0px 0px 6px rgba(0, 0 ,0, 0.2);
    background-image: linear-gradient(to bottom right, rgb(235, 235, 30), rgb(50, 211, 128));
    color: #212121;
    border-radius: 10px;
}
button{
    display: block;
    width: 100%;
    padding: 10px 15px;
    appearance: none;
    border: none;
    outline: none;
    background-image: linear-gradient(to bottom right, rgb(235, 235, 30), rgb(50, 211, 128));
    color:#212121;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
   

